@model ExamLibrary.Models.BookModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">Example Form</div>
            <div class="card-body card-block">
                <div class="row">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            @Html.DropDownList("categoryItem", ViewBag.VBCategoryist as SelectList, "Select Category")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row form-group">
                        <div id="partialDiv" class="col col-md-5">
                            @Html.Partial("_BookList")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>